@model MVC_APP01.Models.Cliente

@{
    ViewBag.Title = "Consulta";
}

<h2>Consulta del Cliente</h2>
<div>CODIGO: @Model.codigo</div>
<div>CODIGO: @Model.nombre</div>
<div>CODIGO: @Model.direccion</div>
<div>CODIGO: @Model.email</div>
